<%= form_with(model: profile_card) do |form| %>
  <% if profile_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile_card.errors.count, "error") %> prohibited this profile_card from being saved:</h2>

      <ul>
        <% profile_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Fond %>
    <br/>
    <%= form.text_area :background %>
  </div>

  <div class="field">
    <%= form.label :"Image de profil" %>
    <br/>
    <%= form.text_area :picture %>
  </div>

  <div class="field">
    <%= form.label :"Prénom" %>
    <br/>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :Nom %>
    <br/>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :"Année de naissance" %>
    <br/>
    <%= form.number_field :birth_year %>
  </div>

  <div class="field">
    <%= form.label :Activités %>
    <br/>
    <%= form.text_area :hobbies %>
  </div>

  <div class="btn">
    <%= form.submit "Valider"%>
  </div>
<% end %>
