<%#< id="notice"><%= notice %> </>

<p>
  <strong>Fond:</strong>
  <%= @profile_card.background %>
</p>

<p>
  <strong>Image de profil:</strong>
  <%= @profile_card.picture %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @profile_card.first_name %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @profile_card.last_name %>
</p>

<p>
  <strong>Année de naissance:</strong>
  <%= @profile_card.birth_year %>
</p>

<p>
  <strong>Activités:</strong>
  <%= @profile_card.hobbies %>
</p>


<div class="instructions">
  <%= link_to 'Modifier', edit_profile_card_path(@profile_card) %> |
  <%= link_to 'Retour à la page accueil', profile_cards_path %>
</div>
